#footer {
    .nav-link {
        color: $white;

        &:hover {
            color: $orange;
        }

        &:focus {
            color: $orange;
        }

        &:active {
            color: $orange;
        }
    }
}
